:root {
    --light: #FAFAFF;
    --dark: #322E49;
    --accent-primary: #00B0BD;
    --accent-secondary: #183238;
    --text-primary: #322E49;
    --text-secondary: #ffffff; 
}

body, html {
    margin: 0;
    z-index: -9999;
}

body {
    background-color: var(--dark);
}

nav {
    background-color: var(--light);
}

.logo {
    max-height: max(25vh, 100px);
}

.social-icon {
    font-size: 4rem;
    color: var(--text-secondary);
}

.social-icon:hover {
    color: var(--accent-primary);
}

main {
    color: var(--text-secondary)
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

button {
    font-size: 1.25rem;
}
